training_checkpoints/weights_fr.h5 filter=lfs diff=lfs merge=lfs -text
training_checkpoints/weights_world.h5 filter=lfs diff=lfs merge=lfs -text
training_checkpoints/vocab_fr.npy filter=lfs diff=lfs merge=lfs -text
training_checkpoints/vocab_world.npy filter=lfs diff=lfs merge=lfs -text
